.modal-content {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px 40px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0px 0px 15px #ffc0cb;
  position: relative;
  font-size: 16px;
}

.modal-content h2 {
  color: #ff66b2;
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 24px;
}

.modal-content label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ff66b2;
}

.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="tel"] {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: 1px solid #ff66b2;
  border-radius: 10px;
  font-size: 16px;
  color: #ff66b2;
  transition: border-color 0.3s;
}

.modal-content input::placeholder {
  color: #ff99c2; /* Lighter pink for placeholder */
}

/* Input focus effect */
.modal-content input:focus {
  outline: none;
  border-color: #ff3385;
}

.modal-content p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}

.modal-content button {
  border: none;
  background-color: #ff66b2;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-content button:hover {
  background-color: #ff3385;
}

.modal-content button:focus {
  outline: none;
}

.modal-content .close-modal {
    background-color: #ff66b2;
    color: black;
    width: 60px;
    height: 60px;
    font-size: 14px;
    line-height: 60px;
    text-align: center;
    position: absolute; 
    top: 10px; 
    right: 10px;
    border-radius: 50%; 
}

.modal-content .btn-group button {
  border-radius: 10px;
  padding: 10px 15px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
/* modal.css */
.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
}

/* Success Message */
.message:contains("Appointment created and email sent!") {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

/* Error Message */
.message:not(:contains("Appointment created and email sent!")) {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}